extends layout

block head
    link(rel="stylesheet" href="/stylesheets/workspaces.css")
    link(rel="stylesheet" href="/stylesheets/workspace.css")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js")
block content
    include navbar.pug
    div.content
        h1 Workspace #{workspace.name}
        div.board-container
            div.card.new-board-card
                img.card-img-top
                div.card-body
                    h5.card-title Create a Board
                    p.card-text
                    a.btn.btn-primary.btn-submit(data-bs-toggle='modal' role="button" data-bs-target='#newBoardModal') Create
            each board in workspace.boards
                div.card
                    img.card-img-top
                    div.card-body
                        h5.card-title #{board.name}
                        p.card-text #{board.description}
                        .button-container
                            a.btn.btn-primary.btn-submit(href=`/boards/${board.id}/`) Go to
                            a.btn.btn-danger.btn-delete(data-bs-toggle='modal' role="button" data-bs-target=`#delete-board-modal-${workspace.id}`) Delete

        #newBoardModal.modal.hide.fade(tabindex='-1' aria-labelledby=`new-board-modal-label` aria-hidden='true')
            .modal-dialog.modal-md
                .modal-content
                    .modal-header
                        h4.modal-title Create a Board
                        button.btn-close(type='button' data-bs-dismiss='modal') &times;
                    .modal-body
                        form.form-horizontal(name='board-form' method='post' action='/boards/')
                            .form-group
                                .row
                                    label.col-sm-3.text-sm-end.col-form-label(for='inputName') Name
                                    .col-sm-9
                                        input#inputName.normal-font-weight(type='text' name='name', required, autocomplete='name')
                                .row
                                    label.col-sm-3.text-sm-end.col-form-label(for='inputDescription') Description
                                    .col-sm-9
                                        input#inputDescription.normal-font-weight(type='text' name='description' autocomplete='description')
                                .row
                                    label.col-sm-3.text-sm-end.col-form-label(for='inputPrivacy') Privacy
                                    .col-sm-9
                                        input#inputPrivacy.normal-font-weight(type='checkbox' name='privacy' autocomplete='privacy')
                                .row
                                    .col-sm-9.offset-sm-3.text-sm-end
                                        input.btn.btn-primary(type='submit' value='Submit')
                                        button.btn.btn-default(data-bs-dismiss='modal') Cancel
